.content img{
    width: 100%;
    height: auto;
}
.content{
    margin-top: 15px !important;
    padding-left: 50px;
    padding-right: 50px;
    background-color: white;
}
.page{
    margin-top: 25px;
}